<div>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
    {{!-- <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> --}}
    </a>
    <span class="navbar-text">
      <div class="hide" id="userID">{{user.id}}</div>
      {{ user.first_name }} {{ user.last_name }}
    </span>
  </nav>
  <div>
    <div class="hide" id="eventID">{{event.id}}</div>
    <h1 class="headTwo">{{ event.name }}</h1>
    <div>
      <h4>Start</h4>
      {{ event.event_start}}
    </div>
    <div>
      <h4>End</h4>
      {{ event.event_end}}
    </div>
    <div>
      <h4>Owner</h4>
         {{ event.User.first_name }} {{ event.User.last_name }}
    </div>
  </div>
  <div>
    <button type="submit" id="add" class="btn btn-default">Participate</button>
  </div>
    <div>
      <ul>
        {{#each participants}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<script>
</script>
<script type="text/javascript" src="/assets/js/eventInfo.js"></script>

